@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello Nancy, meet Glimpse!</h1>
    <ul>
        <li><a href="/glimpse.axd">Enable Glimpse</a></li>
        <li><a href="/greet/Chris">See a route with parameters</a></li>
    </ul>

    <h2>ViewModel</h2>
    <p>
        Foo: @Model.Foo<br />
        Now: @Model.Now
    </p>
</body>
</html>
